@model IEnumerable<BaiTh.Models.Order>
@{
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    /* Chỉnh màu cho card header */
    .card-header {
        background-color: #50514F;
        color: white;
    }

    /* Chỉnh màu cho button Create New Category */
    .btn-primary {
        background-color: #50514F;
        border: none;
    }

    /* Chỉnh màu cho table header */
    .table thead th {
        background-color: #969A97;
        color: white;
    }

    /* Chỉnh màu cho button Edit và Delete */
    .btn-primary, .btn-danger {
        color: white;
    }
</style>
<body>
   
    <div class="container">
        <div class="card shadow border-0 mt-4">
            <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="text-white py-2">Order List</h2>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="row pb-3">
                    <div class="col-6">
                    </div>

                </div>
                <input type="text" id="searchInput" class="form-control mb-4" placeholder="Nhập từ khóa tìm kiếm...">
                <table id="orderTable" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Mã</th>
                    <th>Mã khách hàng</th>
                    <th>Ngày đặt mua</th>
                   
                    <th>Tổng tiền</th>
                    <th>Địa chỉ</th>
                    <th>SDT</th>
                    <th>Chi Tiết</th>   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UserId</td>
                        <td>@item.OrderDate.ToString("yyyy-MM-dd")</td>
                     
                        <td>@item.TotalPrice.ToString("C")</td>
                        <td>@item.ShippingAddress</td>
                        <td>@item.Notes</td>
                       @*  <th> <a  asp-controller="Order" asp-action="Display" asp-route-id="@item.Cartitemid" class="btn btn-sm btn-secondary">Xem thêm</a></th> *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#searchInput').on('keyup', function () {
                    var searchText = $(this).val().toLowerCase();
                    $('#orderTable tbody tr').each(function () {
                        var rowData = $(this).text().toLowerCase();
                        if (rowData.indexOf(searchText) === -1) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });
                });
            });
        </script>
</body>
</html>
